<div class="page-section accessories" data-anchor="accessories">
  <div class="container">

    <div class="accessories__body">
      <h2 class="accessories__title title anim anim--up">
        Аксессуары
      </h2>
      <ul class="accessories__list">
        <li class="accessories__item accessory anim">
          <div class="accessory__img anim anim--scale">
            <img src="images/accessories/accessory-1.png" alt="Беспроводной контроллер DualSense">
          </div>
          <div class="accessory__info anim anim--up">
            <h3 class="accessory__title">
              Беспроводной контроллер DualSense
            </h3>
            <p class="accessory__desc">
              Мир захватывающих и реалистичных игр с новым контроллером для PS5™, который поддерживает тактильную отдачу
              и динамический триггерный эффект.
            </p>
          </div>
        </li>
        <div class="accessories__line accessories__line--line-1 anim anim--scale">
          <svg>
            <use xlink:href="images/sprites/sprite-multi.svg#line-1-accessories"></use>
          </svg>
        </div>
        <li class="accessories__item accessories__item--line-2 accessory anim">
          <div class="accessory__img anim anim--scale">
            <img src="images/accessories/accessory-2.png" alt="Беспроводная гарнитура PULSE 3D">
          </div>
          <div class="accessory__info anim anim--up">
            <h3 class="accessory__title">
              Беспроводная гарнитура PULSE 3D™
            </h3>
            <p class="accessory__desc">
              Играйте с комфортом благодаря беспроводной гарнитуре со специальной поддержкой 3D-звука на консоли PS5.
            </p>
          </div>
        </li>
        <div class="accessories__line accessories__line--line-2 anim anim--scale">
          <svg>
            <use xlink:href="images/sprites/sprite-multi.svg#line-2-accessories"></use>
          </svg>
        </div>
        <li class="accessories__item accessories__item--line-3 accessory anim">
          <div class="accessory__img anim anim--scale">
            <img src="images/accessories/accessory-3.png" alt="Камера HD">
          </div>
          <div class="accessory__info anim anim--up">
            <h3 class="accessory__title">
              Камера HD
            </h3>
            <p class="accessory__desc">
              Добавьте себя в видео с игровым процессом и стримы и оцените плавную и четкую картинку с разрешением
              Full-HD.
            </p>
          </div>
        </li>
        <div class="accessories__line accessories__line--line-3 anim anim--scale">
          <svg>
            <use xlink:href="images/sprites/sprite-multi.svg#line-3-accessories"></use>
          </svg>
        </div>
        <li class="accessories__item accessory anim">
          <div class="accessory__img anim anim--scale">
            <img src="images/accessories/accessory-4.png" alt="ПДУ мультимедиа">
          </div>
          <div class="accessory__info anim anim--up">
            <h3 class="accessory__title">
              ПДУ мультимедиа
            </h3>
            <p class="accessory__desc">
              Удобное управление фильмами, потоковыми сервисами и другим контентом на консоли PS5 благодаря интуитивно
              понятной компоновке кнопок.
            </p>
          </div>
        </li>
      </ul>
    </div>

    <div class="scroll-page">
      <a href="#specification" class="scroll-page__link">
        <svg>
          <use xlink:href="images/sprites/sprite-mono.svg#arrow-down"></use>
        </svg>
      </a>
    </div>
  </div>
</div>