<section class="page-section feedback" data-anchor="feedback">
  <div class="container">

    <div class="feedback__body">
      <h2 class="feedback__title title anim anim--up">
        Контакты
      </h2>
      <div class="feedback__row">
        <div class="feedback__column">
          <div class="feedback__info info-feedback">

            <div class="info-feedback__item anim anim--left">
              <span class="info-feedback__title">Москва</span>

              <a class="info-feedback__phone" href="tel:+74999998877">+7 (499) 999 88 77</a>

              <a class="info-feedback__email" href="mailto:info.moscow@sony.com">info.moscow@sony.com</a>
            </div>

            <div class="info-feedback__item anim anim--right">
              <span class="info-feedback__title">Минск</span>

              <a class="info-feedback__phone" href="tel:+375159998877">+3 (7517) 999 88 77</a>

              <a class="info-feedback__email" href="mailto:info.minsk@sony.com">info.minsk@sony.com</a>
            </div>

            <div class="info-feedback__item anim anim--left">
              <span class="info-feedback__title">Киев</span>

              <a class="info-feedback__phone" href="tel:+80509998877">+8 (050) 999 88 77</a>

              <a class="info-feedback__email" href="mailto:info.kiev@sony.com">info.kiev@sony.com</a>
            </div>

          </div>
        </div>
        <div class="feedback__column">
          <form class="feedback__form form-feedback anim" action="#">
            <div class="form-feedback__header">
              <h4 class="form-feedback__title">Остались вопросы?</h4>
              <p class="form-feedback__desc">
                Мы свяжемся с вами в ближайшее время.
              </p>
            </div>
            <div class="form-feedback__row">
              <input class="form-feedback__input" type="text" name="name" placeholder="Введите ваше имя" />
              <input class="form-feedback__input" type="email" name="email" placeholder="Введите ваш e-mail" />
            </div>

            <textarea class="form-feedback__textarea" name="message" placeholder="Что вас интересует?"></textarea>
            <button class="form-feedback__btn btn">Отправить</button>
          </form>
        </div>
        <div class="feedback__column">
          <ul class="feedback__social social-list">
            <li class="social-list__item">
              <a href="" class="social-list__link anim anim--right">
                <svg>
                  <use xlink:href="images/sprites/sprite-mono.svg#facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a href="" class="social-list__link anim anim--left">
                <svg>
                  <use xlink:href="images/sprites/sprite-mono.svg#youtube"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a href="" class="social-list__link anim anim--right">
                <svg>
                  <use xlink:href="images/sprites/sprite-mono.svg#instagram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    @@include('_footer.html')
  </div>
</section>