<header class="header">
  <div class="container">
    <div class="header__body" data-menuanchor="initial">
      <a href="#initial" class="header__logo logo">
        <picture>
          <source srcset="images/logo-mobile.png 200w" media="(max-width: 800px)" />
          <img src="images/logo.png" alt="Logo PS5" />
        </picture>
      </a>

      <nav class="header__menu menu" id="page-menu">
        <div class="menu__btn">
          <span></span>
        </div>
        <ul class="menu__list">
          <li class="menu__item" data-menuanchor="product">
            <a href="#product" class="menu__link">О консоли</a>
          </li>
          <li class="menu__item" data-menuanchor="accessories">
            <a href="#accessories" class="menu__link">Аксессуары</a>
          </li>
          <li class="menu__item" data-menuanchor="specification">
            <a href="#specification" class="menu__link">Характеристики</a>
          </li>
          <li class="menu__item" data-menuanchor="questions">
            <a href="#questions" class="menu__link">Вопросы</a>
          </li>
          <li class="menu__item" data-menuanchor="feedback">
            <a href="#feedback" class="menu__link">Контакты</a>
          </li>
          <li class="menu__item">
            <a href="tel:+74999998877" class="menu__link menu__link--phone">
              +7 (499) 999 88 77
            </a>
          </li>
        </ul>
      </nav>

      <div class="header__contacts contacts">
        <a href="#feedback" class="contacts__btn btn">
          Купить
        </a>

        <a href="tel:+74999998877" class="contacts__phone">
          +7 (499) 999 88 77
        </a>
      </div>
    </div>
  </div>
</header>