<section class="page-section initial" data-anchor="initial">
  <div class="container">
    <div class="initial__body">
      <h1 class="initial__title title anim anim--up">PlayStation<sup>®</sup>5
      </h1>
      <div class="initial__img anim anim--scale">
        <picture>
          <source srcset="images/initial/ps5-horizontal-1600.png 1600w" media="(max-width: 1024px)" />
          <source srcset="images/initial/ps5-horizontal-1200.png 1200w" media="(max-width: 768px)" />
          <source srcset="images/initial/ps5-horizontal-800.png 800w" media="(max-width: 320px)" />
          <img src="images/initial/ps5-horizontal-native.png" alt="PlayStation 5" />
        </picture>
      </div>
      <p class="initial__desc anim anim--up">
        Невероятно мощные центральный и графический процессоры, а также
        SSD-диск с интегрированной системой ввода-вывода перевернут ваше
        представление о возможностях консоли PlayStation.
      </p>
      <ul class="initial__social social-list">
        <li class="social-list__item">
          <a href="" class="social-list__link anim anim--scale">
            <svg>
              <use xlink:href="images/sprites/sprite-mono.svg#facebook"></use>
            </svg>
          </a>
        </li>
        <li class="social-list__item">
          <a href="" class="social-list__link anim anim--scale">
            <svg>
              <use xlink:href="images/sprites/sprite-mono.svg#youtube"></use>
            </svg>
          </a>
        </li>
        <li class="social-list__item">
          <a href="" class="social-list__link anim anim--scale">
            <svg>
              <use xlink:href="images/sprites/sprite-mono.svg#instagram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="scroll-page">
      <a href="#product" class="scroll-page__link">
        <svg>
          <use xlink:href="images/sprites/sprite-mono.svg#arrow-down"></use>
        </svg>
      </a>
    </div>
  </div>
</section>