<section class="page-section product" data-anchor="product">
  <div class="container">

    <div class="product__body">
      <div class="product__column">
        <div class="product__info">
          <h2 class="product__title title anim anim--up">
            Play Has No Limits™
          </h2>
          <div class="product__desc anim anim--left">
            <p>
              Молниеносная скорость загрузки благодаря сверхскоростному
              накопителю SSD, невероятный эффект погружения благодаря
              тактильной отдаче, адаптивным спусковым кнопкам и 3D-звуку, а
              также потрясающие игры нового поколения для PlayStation®.
            </p>
            <p>
              Вернитесь к любимым играм для PS4™ на новой консоли PS5.
            </p>
            <p>
              Частота кадров в избранных играх для PS4 и PS VR еще никогда не
              была такой высокой.
            </p>
          </div>
        </div>
      </div>
      <div class="product__column">
        <div class="product__slider anim anim--right">
          <div class="product__sliders-nav sliders-nav">
            <button class="sliders-nav__button-prev">
              <svg>
                <use xlink:href="images/sprites/sprite-mono.svg#arrow-slide-prev"></use>
              </svg>
            </button>
            <button class="sliders-nav__button-next">
              <svg>
                <use xlink:href="images/sprites/sprite-mono.svg#arrow-slide-next"></use>
              </svg>
            </button>
          </div>

          <div class="product__slider-text slider-text swiper-container">

            <div class="swiper-wrapper">
              <div class="slider-text__slide swiper-slide">
                <p>
                  Трассировка лучей
                </p>
              </div>
              <div class="slider-text__slide swiper-slide">
                <p>
                  Поддержка 4К телевизоров
                </p>
              </div>
              <div class="slider-text__slide swiper-slide">
                <p>
                  До 120 кадров в секунду
                </p>
              </div>
              <div class="slider-text__slide swiper-slide">
                <p>
                  Технология HDR
                </p>
              </div>
              <div class="slider-text__slide swiper-slide">
                <p>
                  Потрясающие игры
                </p>
              </div>
              <div class="slider-text__slide swiper-slide">
                <p>
                  Невероятная скорость
                </p>
              </div>
            </div>

          </div>

          <div class="product__slider-ps-img">

            <div class="slider-ps-img swiper-container">
              <div class="swiper-wrapper">

                <div class="slider-ps-img__slide swiper-slide">
                  <img src="images/product/slider-1.png" alt="Трассировка лучей">
                </div>
                <div class="slider-ps-img__slide swiper-slide">
                  <img src="images/product/slider-2.png" alt="Поддержка 4К телевизоров">
                </div>
                <div class="slider-ps-img__slide swiper-slide">
                  <img src="images/product/slider-3.png" alt="До 120 кадров в секунду">
                </div>
                <div class="slider-ps-img__slide swiper-slide">
                  <img src="images/product/slider-4.png" alt="Технология HDR">
                </div>
                <div class="slider-ps-img__slide swiper-slide">
                  <img src="images/product/slider-5.png" alt="Потрясающие игры">
                </div>
                <div class="slider-ps-img__slide swiper-slide">
                  <img src="images/product/slider-6.png" alt="Невероятная скорость">
                </div>

              </div>
            </div>


          </div>

        </div>
      </div>
    </div>

    <div class="scroll-page">
      <a href="#accessories" class="scroll-page__link">
        <svg>
          <use xlink:href="images/sprites/sprite-mono.svg#arrow-down"></use>
        </svg>
      </a>
    </div>
  </div>
</section>