<section class="page-section questions" data-anchor="questions">
  <div class="container">

    <div class="questions__body">
      <h3 class="questions__title title anim anim--up">
        Ответы на вопросы
      </h3>

      <div class="questions__list anim anim--left">
        <div class="questions__item item-question item-question--active">
          <div class="item-question__header">
            <h5 class="item-question__title">
              Цифровое издание PS5
            </h5>
            <div class="item-question__arrow">
              <svg>
                <use xlink:href="images/sprites/sprite-mono.svg#arrow-down"></use>
              </svg>
            </div>
          </div>
          <div class="item-question__body">
            <div class="item-question__text">
              <p>
                Цифровое издание PS5 — это версия консоли PS5 без дисковода.
                Войдите в свою учетную запись PlayStation Network и перейдите на
                страницу PlayStation®Store, чтобы приобрести и загрузить игры.
              </p>
            </div>
          </div>
        </div>

        <div class="questions__item item-question">
          <div class="item-question__header">
            <h5 class="item-question__title">
              Обратная совместимость
            </h5>
            <div class="item-question__arrow">
              <svg>
                <use xlink:href="images/sprites/sprite-mono.svg#arrow-down"></use>
              </svg>
            </div>
          </div>
          <div class="item-question__body">
            <div class="item-question__text">
              <p>
                Вернитесь к цифровым версиям любимых игр для PS4 на цифровом
                издании PS5.
              </p>
            </div>
          </div>
        </div>

        <div class="questions__item item-question">
          <div class="item-question__header">
            <h5 class="item-question__title">
              Обновите игры для PS4 до цифровых версий для PS5
            </h5>
            <div class="item-question__arrow">
              <svg>
                <use xlink:href="images/sprites/sprite-mono.svg#arrow-down"></use>
              </svg>
            </div>
          </div>
          <div class="item-question__body">
            <div class="item-question__text">
              <p>
                Цифровое издание PS5 дает издателям возможность разрешать
                игрокам обновлять цифровые копии игр на PS4 до цифровых копий
                для PS5.
              </p>
            </div>
          </div>
        </div>

        <div class="questions__item item-question">
          <div class="item-question__header">
            <h5 class="item-question__title">
              Интеграция с PlayStation VR
            </h5>
            <div class="item-question__arrow">
              <svg>
                <use xlink:href="images/sprites/sprite-mono.svg#arrow-down"></use>
              </svg>
            </div>
          </div>
          <div class="item-question__body">
            <div class="item-question__text">
              <p>
                Подключив PlayStation VR к цифровому изданию PS5, вы сможете
                играть в любые цифровые игры с поддержкой PS VR. Для подключения
                PS VR к цифровому изданию PS5 вам потребуется PlayStation
                Camera2 для PS4 и адаптер PlayStation Camera (не надо
                приобретать отдельно).
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="questions__img anim">
        <picture>
          <source srcset="images/questions/playstation-5-product-banner-1600.png 1600w" media="(max-width: 1024px)" />
          <source srcset="images/questions/playstation-5-product-banner-1200.png 1200w" media="(max-width: 768px)" />
          <img src="images/questions/playstation-5-product-banner-native.png" alt="PlayStation" />
        </picture>
      </div>
    </div>

    <div class="scroll-page">
      <a href="#feedback" class="scroll-page__link">
        <svg>
          <use xlink:href="images/sprites/sprite-mono.svg#arrow-down"></use>
        </svg>
      </a>
    </div>
  </div>
</section>