<section class="page-section specification" data-anchor="specification">
  <div class="container">

    <div class="specification__body">
      <h2 class="specification__title title anim anim--up">
        Характеристики
      </h2>
      <div class="specification__row">
        <div class="specification__column">

          <div class="specification__item item-specification" data-id="item-1">
            <h3 class="item-specification__title anim anim--left">
              Ультраскоростной SSD
            </h3>
            <p class="item-specification__text anim anim--left">
              Практически мгновенные загрузки оставляют больше времени для игры на PS5™.
            </p>
          </div>

          <div class="specification__item item-specification" data-id="item-2">
            <h3 class="item-specification__title anim anim--left">
              Интегрированная система ввода-вывода
            </h3>
            <p class="item-specification__text anim anim--left">
              Интегрированная система ввода-вывода на консоли PS5 открывает разработчикам новые возможности для
              творчества благодаря быстрому получению данных с SSD.
            </p>
          </div>

        </div>
        <div class="specification__column anim">
          <div class="specification__img">
            <picture>
              <source srcset="images/specification/playstation-5-product-1600.png 1600w" media="(max-width: 1024px)" />
              <source srcset="images/specification/playstation-5-product-1200.png 1200w" media="(max-width: 768px)" />
              <source srcset="images/specification/playstation-5-product-800.png 800w" media="(max-width: 320px)" />
              <img src="images/specification/playstation-5-product-native.png" alt="PlayStation" />
            </picture>
            <div class="specification__tabs-line">
              <div class="specification__line specification__line--line-1" data-for="item-1">
                <svg>
                  <use xlink:href="images/sprites/sprite-multi.svg#line-1-specification"></use>
                </svg>
              </div>
              <div class="specification__line specification__line--line-2" data-for="item-2">
                <svg>
                  <use xlink:href="images/sprites/sprite-multi.svg#line-2-specification"></use>
                </svg>
              </div>
              <div class="specification__line specification__line--line-3 specification__line--active"
                data-for="item-3">
                <svg>
                  <use xlink:href="images/sprites/sprite-multi.svg#line-3-specification"></use>
                </svg>
              </div>
              <div class="specification__line specification__line--line-4" data-for="item-4">
                <svg>
                  <use xlink:href="images/sprites/sprite-multi.svg#line-4-specification"></use>
                </svg>
              </div>
            </div>
          </div>
        </div>
        <div class="specification__column">

          <div class="specification__item item-specification item-specification--active" data-id="item-3">
            <h3 class="item-specification__title anim anim--right">
              Тактильная отдача
            </h3>
            <p class="item-specification__text anim anim--right">
              Испытайте реалистичную тактильную отдачу с беспроводным контроллером DualSense™ для некоторых игр PS5™
              с поддержкой этих функций и невероятный эффект полного погружения благодаря тактильным ощущениям в
              ответ на ваши действия и события в игре.
            </p>
          </div>

          <div class="specification__item item-specification" data-id="item-4">
            <h3 class="item-specification__title anim anim--right">
              Адаптивные спусковые кнопки
            </h3>
            <p class="item-specification__text anim anim--right">
              Получите новые ощущения благодаря адаптивным спусковым кнопкам с динамически регулируемыми уровнями
              сопротивления, которые симулируют физические ощущения в ответ на ваши действия в поддерживаемых играх
              для PS5™.
            </p>
          </div>

        </div>
      </div>
    </div>

    <div class="scroll-page">
      <a href="#questions" class="scroll-page__link">
        <svg>
          <use xlink:href="images/sprites/sprite-mono.svg#arrow-down"></use>
        </svg>
      </a>
    </div>
  </div>
</section>