%ubnt-300 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
}

%ubnt-400 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}

%ubnt-500 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
}

%ubnt-700 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
}

%sf-400 {
  font-family: "SFProDisplay", sans-serif;
  font-weight: 400;
}

%sf-600 {
  font-family: "SFProDisplay", sans-serif;
  font-weight: 600;
}
